@font-face {
    font-family: gameboy;
    src: url(Early\ GameBoy.ttf);
}
@font-face {
    font-family: birch;
    src: url(BirchLeaf.ttf);
}






ul#jogadorEscolha li a:hover ,
ul#jogadorEscolha li a.selecionado,
ul#computadorEscolha li a.selecionado {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translate(-10px);

}

ul#jogadorEscolha li a,
ul#computadorEscolha li a {
    opacity: 0.2;
    transition: ease-in-out 0.3s;
}
img{
    height: 150px;
    width: 150px;
}
#placar {
    display: flex;
    justify-content: center;
    
}
#titulo {
    display: flex;
    justify-content: center;
}
#mensagem {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#jogador {
    margin-right: 50px;
    background-color: #F2D4C2;
    border: 1px solid;
    border-radius: 3%;
}
#computador {
    margin-left: 50px;
    background-color: #F2D4C2;
    border: 1px solid;
    border-radius: 3%;
}
#jogadorNome {
    display: flex;
    justify-content: center;
}
#computadorNome {
    display: flex;
    justify-content: center;
}
#jogadorEscolha, #computadorEscolha{
    display: flex;
}
h1 {
    font-family: gameboy, sans-serif;
    font-size: 30px;
}
li{
    list-style-type: none;
}
h2 {
    font-family: birch, sans-serif;
    color: #A30800;
}
#mensagem {
    font-family: birch, sans-serif;
    color: #400601;
}
#jogadorPontos {
    display: flex;
    text-align: center;
}
#versus{
    font-family: gameboy, sans-serif;
    color: red;
}
#jogadorPontos {
    display: flex;
    justify-content: center;
}
#computadorPontos {
    display: flex;
    justify-content: center;
}
@keyframes moveBackground {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
}

#cenario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/tumblr_p6xagkwe0s1wp00e8o1_1280.png'); 
    background-size: cover;
    opacity: 0.3; /* Opacidade desejada para a imagem de fundo */
    animation: moveBackground 20s linear infinite; /* Aplicando a animação ao fundo */
    z-index: -1; /* Coloca a div atrás do conteúdo principal */
}
